## Input files

1. Actual seeding dates from 2024 and 2025

### Import libraries

In [2]:
import pandas as pd

#### Get actual seeding dates for year 2024 and 2025 and concat files

In [7]:
df_actual_2024 = pd.read_parquet('/Users/dulminiguruge/Documents/GitHub/seeding-date-detection/2024-season/data/input/V_4.0/climate_data_1987_2024_apr_oct_townships.parquet')
df_actual_2025 = pd.read_parquet('/Users/dulminiguruge/Documents/GitHub/seeding_dates_pipeline/data/2025/climate_data_2025_apr_jun_townships.parquet')

df_actual_2024.head()

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,1987-04-01,0.000000,-1.272552,-1.172211,-1.207642,-0.684418,-0.658295,-0.672455,Moist Black,1987,0.000000
1,1-1-E1,1987-04-02,0.000000,-1.349457,-1.167816,-1.263977,-0.715179,-0.684906,-0.698578,Moist Black,1987,0.000000
2,1-1-E1,1987-04-03,0.000000,-1.357513,-1.247162,-1.298187,-0.743988,-0.716644,-0.729431,Moist Black,1987,0.000000
3,1-1-E1,1987-04-04,2.092224,-1.267914,-1.041107,-1.188080,-0.760345,-0.746918,-0.754333,Moist Black,1987,2.092224
4,1-1-E1,1987-04-05,4.157913,-1.002533,0.300446,-0.692078,-0.760101,-0.726898,-0.750580,Moist Black,1987,6.250137

In [9]:
df_actual_2024.columns

Index(['Township', 'Date', 'GDD', 'Soil_temp_l1_min', 'Soil_temp_l1_max',
       'Soil_temp_l1_mean', 'Soil_temp_l2_min', 'Soil_temp_l2_max',
       'Soil_temp_l2_mean', 'SoilType', 'Year', 'Cumulative_GDD'],
      dtype='object')

In [8]:
df_actual_2025.head()

,Township,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,Date,TMin,TMax,GDD,SoilType,Year,Cumulative_GDD
0,1-1-E1,-0.289154,0.858063,0.101654,-0.219574,-0.184174,-0.203400,2025-04-01,-4.333710,4.942169,-4.695770,Moist Black,2025,-4.695770
1,1-1-E1,0.242340,0.839508,0.453186,-0.181000,-0.118011,-0.150970,2025-04-02,-0.881104,4.104065,-3.388519,Moist Black,2025,-8.084290
2,1-1-E1,0.299713,3.673492,1.032990,-0.112885,-0.002289,-0.076172,2025-04-03,-3.614410,5.698975,-3.957718,Moist Black,2025,-12.042008
3,1-1-E1,-0.047211,2.833160,0.579559,0.009674,0.060699,0.031189,2025-04-04,-4.880859,4.262848,-5.309006,Moist Black,2025,-17.351013
4,1-1-E1,-0.317963,2.124420,0.319641,0.064362,0.090485,0.072418,2025-04-05,-5.636993,6.854858,-4.391068,Moist Black,2025,-21.742081

In [ ]:
df_actual_2025.columns

Index(['Township', 'Soil_temp_l1_min', 'Soil_temp_l1_max', 'Soil_temp_l1_mean',
       'Soil_temp_l2_min', 'Soil_temp_l2_max', 'Soil_temp_l2_mean', 'Date',
       'TMin', 'TMax', 'GDD', 'SoilType', 'Year', 'Cumulative_GDD'],
      dtype='object')

In [11]:
df_actual_2025 = df_actual_2025[['Township', 'Date', 'GDD', 'Soil_temp_l1_min', 'Soil_temp_l1_max',
       'Soil_temp_l1_mean', 'Soil_temp_l2_min', 'Soil_temp_l2_max',
       'Soil_temp_l2_mean', 'SoilType', 'Year', 'Cumulative_GDD']]
df_actual_2025

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,2025-04-01,-4.695770,-0.289154,0.858063,0.101654,-0.219574,-0.184174,-0.203400,Moist Black,2025,-4.695770
1,1-1-E1,2025-04-02,-3.388519,0.242340,0.839508,0.453186,-0.181000,-0.118011,-0.150970,Moist Black,2025,-8.084290
2,1-1-E1,2025-04-03,-3.957718,0.299713,3.673492,1.032990,-0.112885,-0.002289,-0.076172,Moist Black,2025,-12.042008
3,1-1-E1,2025-04-04,-5.309006,-0.047211,2.833160,0.579559,0.009674,0.060699,0.031189,Moist Black,2025,-17.351013
4,1-1-E1,2025-04-05,-4.391068,-0.317963,2.124420,0.319641,0.064362,0.090485,0.072418,Moist Black,2025,-21.742081
...,...,...,...,...,...,...,...,...,...,...,...,...
684042,S-L-WS,2025-06-26,14.834946,14.580963,24.576813,18.981750,15.436432,18.704254,16.426819,Black,2025,532.935943
684043,S-L-WS,2025-06-27,14.143265,14.195221,25.900543,20.132263,16.775543,19.804840,18.219482,Black,2025,547.079208
684044,S-L-WS,2025-06-28,12.594833,15.805817,22.680084,18.950317,17.495270,19.928131,18.500977,Black,2025,559.674041
684045,S-L-WS,2025-06-29,13.200958,15.467194,21.337310,17.548798,16.285553,18.522125,17.202820,Black,2025,572.874999
684046,S-L-WS,2025-06-30,14.091248,14.229889,22.798004,18.495667,15.957428,18.578766,17.154785,Black,2025,586.966247

### Concatinate the two dataframes

In [12]:
df_climate_1987_2025 = pd.concat([df_actual_2024,df_actual_2025], ignore_index = True)
df_climate_1987_2025

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,1987-04-01,0.000000,-1.272552,-1.172211,-1.207642,-0.684418,-0.658295,-0.672455,Moist Black,1987,0.000000
1,1-1-E1,1987-04-02,0.000000,-1.349457,-1.167816,-1.263977,-0.715179,-0.684906,-0.698578,Moist Black,1987,0.000000
2,1-1-E1,1987-04-03,0.000000,-1.357513,-1.247162,-1.298187,-0.743988,-0.716644,-0.729431,Moist Black,1987,0.000000
3,1-1-E1,1987-04-04,2.092224,-1.267914,-1.041107,-1.188080,-0.760345,-0.746918,-0.754333,Moist Black,1987,2.092224
4,1-1-E1,1987-04-05,4.157913,-1.002533,0.300446,-0.692078,-0.760101,-0.726898,-0.750580,Moist Black,1987,6.250137
...,...,...,...,...,...,...,...,...,...,...,...,...
61812286,S-L-WS,2025-06-26,14.834946,14.580963,24.576813,18.981750,15.436432,18.704254,16.426819,Black,2025,532.935943
61812287,S-L-WS,2025-06-27,14.143265,14.195221,25.900543,20.132263,16.775543,19.804840,18.219482,Black,2025,547.079208
61812288,S-L-WS,2025-06-28,12.594833,15.805817,22.680084,18.950317,17.495270,19.928131,18.500977,Black,2025,559.674041
61812289,S-L-WS,2025-06-29,13.200958,15.467194,21.337310,17.548798,16.285553,18.522125,17.202820,Black,2025,572.874999
61812290,S-L-WS,2025-06-30,14.091248,14.229889,22.798004,18.495667,15.957428,18.578766,17.154785,Black,2025,586.966247

In [27]:
df_climate_1987_2025.to_parquet('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/twn_climate_87_25.parquet', index = False)

### Concat the actual climate testing dataset

In [13]:
df_10_actual_test_2024 = pd.read_csv('/Users/dulminiguruge/Documents/GitHub/seeding-date-detection/2024-season/data/input/V_4.0/actual_seeding_dates_10locations_2024.csv')
df_10_actual_test_2024

   Township  Seeding_date_numeric        Date
0   1-27-W1                 143.0  2024-05-22
1   1-28-W1                 143.0  2024-05-22
2   26-1-W4                 136.0  2024-05-15
3  14-22-W2                 137.0  2024-05-16
4  73-20-W5                 124.0  2024-05-03
5  82-22-W5                 127.0  2024-05-06
6  50-15-W3                 150.0  2024-05-29
7  43-25-W2                 139.0  2024-05-18
8  54-23-W4                 142.0  2024-05-20
9  11-11-W2                 134.0  2024-05-13

In [15]:
df_actual_test_2025 = pd.read_csv('/Users/dulminiguruge/Documents/GitHub/seeding_dates_pipeline/data/2025/actual_seeding_dates_10locations_2025.csv')
df_actual_test_2025

     Township  Seeding_date_numeric        Date
0    10-12-W2                 147.0  2025-05-27
1    11-25-W4                 123.0  2025-05-03
2    13-19-W2                 132.0  2025-05-12
3    13-26-W2                 131.0  2025-05-11
4     14-3-W3                 119.0  2025-04-29
..        ...                   ...         ...
166  76-23-W5                 131.0  2025-05-11
167   8-14-W2                 126.0  2025-05-06
168   8-31-W1                 148.0  2025-05-28
169  80-13-W6                 125.0  2025-05-05
170  80-20-W5                 120.0  2025-04-30

[171 rows x 3 columns]

In [23]:
df_actual_test_24_25 = pd.concat([df_10_actual_test_2024,df_actual_test_2025], ignore_index = True)
df_actual_test_24_25

     Township  Seeding_date_numeric        Date
0     1-27-W1                 143.0  2024-05-22
1     1-28-W1                 143.0  2024-05-22
2     26-1-W4                 136.0  2024-05-15
3    14-22-W2                 137.0  2024-05-16
4    73-20-W5                 124.0  2024-05-03
..        ...                   ...         ...
176  76-23-W5                 131.0  2025-05-11
177   8-14-W2                 126.0  2025-05-06
178   8-31-W1                 148.0  2025-05-28
179  80-13-W6                 125.0  2025-05-05
180  80-20-W5                 120.0  2025-04-30

[181 rows x 3 columns]

In [24]:
df_actual_test_24_25.to_parquet('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/seeding_dates_24_25_test.parquet', index = False)

### Load the training data 2011 to 2024 with 2025

In [18]:
df_30_actual_training_2024 = pd.read_csv('/Users/dulminiguruge/Documents/GitHub/seeding-date-detection/2024-season/data/input/V_4.0/actual_seeding_dates_30locations_2024.csv')

In [19]:
df_30_actual_training_2024.columns

Index(['Township', 'Seeding_date_numeric', 'Date', 'GDD', 'Soil_temp_l1_min',
       'Soil_temp_l1_max', 'Soil_temp_l1_mean', 'Soil_temp_l2_min',
       'Soil_temp_l2_max', 'Soil_temp_l2_mean', 'SoilType', 'Year',
       'Cumulative_GDD'],
      dtype='object')

In [20]:
df_30_actual_training_2025 = pd.read_csv('/Users/dulminiguruge/Documents/GitHub/seeding_dates_pipeline/data/2025/actual_seeding_dates_30locations_2025.csv')

In [22]:
df_30_actual_training_2025 = df_30_actual_training_2025[['Township', 'Seeding_date_numeric', 'Date', 'GDD', 'Soil_temp_l1_min',
       'Soil_temp_l1_max', 'Soil_temp_l1_mean', 'Soil_temp_l2_min',
       'Soil_temp_l2_max', 'Soil_temp_l2_mean', 'SoilType', 'Year',
       'Cumulative_GDD']]

In [25]:
df_actual_training_24_25 = pd.concat([df_30_actual_training_2024,df_30_actual_training_2025], ignore_index = True)
df_actual_training_24_25

,Township,Seeding_date_numeric,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,12-11-W2,136.0,2024-05-15,5.025558,6.602936,17.818756,12.028320,9.335846,12.169830,10.669312,Moist Dark Brown,2024,143.280929
1,13-10-W2,137.0,2024-05-16,6.356491,7.876373,17.490875,12.149567,9.553864,11.526276,10.584747,Moist Dark Brown,2024,138.706894
2,13-11-W2,137.0,2024-05-15,4.741775,5.770905,17.225006,11.272217,8.341705,11.234283,9.654663,Moist Dark Brown,2024,133.386475
3,2-25-W1,142.0,2024-05-21,6.584061,6.978424,19.867828,13.582214,10.510407,13.797272,12.125061,Black,2024,202.785096
4,2-31-W1,138.0,2024-05-16,7.888001,7.944733,19.731110,13.278870,10.201080,13.329010,11.475037,Black,2024,175.116639
...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,9-15-W2,150.0,2025-05-29,12.580170,12.493805,22.559235,17.332184,14.140533,16.355133,15.186096,Dark Brown,2025,212.237884
554,9-16-W2,150.0,2025-05-30,12.615387,12.633453,22.516510,17.867249,14.752594,16.840973,15.898590,Dark Brown,2025,227.398165
555,9-25-W4,123.0,2025-05-03,12.240417,8.583893,23.399567,15.683533,11.160065,14.031158,12.447052,Moist Dark Brown,2025,88.282425
556,9-26-W4,123.0,2025-05-03,11.434723,7.439362,22.962067,15.030609,10.634674,13.689362,12.091980,Moist Dark Brown,2025,82.249816
557,9-32-W1,148.0,2025-05-28,9.729034,10.475739,21.166900,15.760376,12.696442,15.242096,13.982544,Black,2025,101.895004

In [26]:
df_actual_training_24_25.to_parquet('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/seeding_dates_24_25_training.parquet', index = False)