## Input files

1. Actual seeding dates from 2024 and 2025
2. Climate data from 2011 to 2025
3. Crop stages date range based on soil type

### Import libraries

In [1]:
import pandas as pd

#### Get actual seeding dates for year 2024 and 2025 and concat files

In [2]:
df_actual_2024 = pd.read_parquet('/Users/dulminiguruge/Documents/GitHub/seeding-date-detection/2024-season/data/input/V_4.0/climate_data_1987_2024_apr_oct_townships.parquet')
df_actual_2025 = pd.read_parquet('/Users/dulminiguruge/Documents/GitHub/seeding_dates_pipeline/data/2025/climate_data_2025_apr_jun_townships.parquet')

df_actual_2024.head()

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,1987-04-01,0.000000,-1.272552,-1.172211,-1.207642,-0.684418,-0.658295,-0.672455,Moist Black,1987,0.000000
1,1-1-E1,1987-04-02,0.000000,-1.349457,-1.167816,-1.263977,-0.715179,-0.684906,-0.698578,Moist Black,1987,0.000000
2,1-1-E1,1987-04-03,0.000000,-1.357513,-1.247162,-1.298187,-0.743988,-0.716644,-0.729431,Moist Black,1987,0.000000
3,1-1-E1,1987-04-04,2.092224,-1.267914,-1.041107,-1.188080,-0.760345,-0.746918,-0.754333,Moist Black,1987,2.092224
4,1-1-E1,1987-04-05,4.157913,-1.002533,0.300446,-0.692078,-0.760101,-0.726898,-0.750580,Moist Black,1987,6.250137

In [15]:
df_actual_2024.columns

Index(['Township', 'Date', 'GDD', 'Soil_temp_l1_min', 'Soil_temp_l1_max',
       'Soil_temp_l1_mean', 'Soil_temp_l2_min', 'Soil_temp_l2_max',
       'Soil_temp_l2_mean', 'SoilType', 'Year', 'Cumulative_GDD'],
      dtype='object')

In [16]:
df_actual_2025.head()

,Township,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,Date,TMin,TMax,GDD,SoilType,Year,Cumulative_GDD
0,1-1-E1,-0.289154,0.858063,0.101654,-0.219574,-0.184174,-0.203400,2025-04-01,-4.333710,4.942169,-4.695770,Moist Black,2025,-4.695770
1,1-1-E1,0.242340,0.839508,0.453186,-0.181000,-0.118011,-0.150970,2025-04-02,-0.881104,4.104065,-3.388519,Moist Black,2025,-8.084290
2,1-1-E1,0.299713,3.673492,1.032990,-0.112885,-0.002289,-0.076172,2025-04-03,-3.614410,5.698975,-3.957718,Moist Black,2025,-12.042008
3,1-1-E1,-0.047211,2.833160,0.579559,0.009674,0.060699,0.031189,2025-04-04,-4.880859,4.262848,-5.309006,Moist Black,2025,-17.351013
4,1-1-E1,-0.317963,2.124420,0.319641,0.064362,0.090485,0.072418,2025-04-05,-5.636993,6.854858,-4.391068,Moist Black,2025,-21.742081

In [17]:
df_actual_2025.columns

Index(['Township', 'Soil_temp_l1_min', 'Soil_temp_l1_max', 'Soil_temp_l1_mean',
       'Soil_temp_l2_min', 'Soil_temp_l2_max', 'Soil_temp_l2_mean', 'Date',
       'TMin', 'TMax', 'GDD', 'SoilType', 'Year', 'Cumulative_GDD'],
      dtype='object')

In [18]:
df_actual_2025 = df_actual_2025[['Township', 'Date', 'GDD', 'Soil_temp_l1_min', 'Soil_temp_l1_max',
       'Soil_temp_l1_mean', 'Soil_temp_l2_min', 'Soil_temp_l2_max',
       'Soil_temp_l2_mean', 'SoilType', 'Year', 'Cumulative_GDD']]
df_actual_2025

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,2025-04-01,-4.695770,-0.289154,0.858063,0.101654,-0.219574,-0.184174,-0.203400,Moist Black,2025,-4.695770
1,1-1-E1,2025-04-02,-3.388519,0.242340,0.839508,0.453186,-0.181000,-0.118011,-0.150970,Moist Black,2025,-8.084290
2,1-1-E1,2025-04-03,-3.957718,0.299713,3.673492,1.032990,-0.112885,-0.002289,-0.076172,Moist Black,2025,-12.042008
3,1-1-E1,2025-04-04,-5.309006,-0.047211,2.833160,0.579559,0.009674,0.060699,0.031189,Moist Black,2025,-17.351013
4,1-1-E1,2025-04-05,-4.391068,-0.317963,2.124420,0.319641,0.064362,0.090485,0.072418,Moist Black,2025,-21.742081
...,...,...,...,...,...,...,...,...,...,...,...,...
684042,S-L-WS,2025-06-26,14.834946,14.580963,24.576813,18.981750,15.436432,18.704254,16.426819,Black,2025,532.935943
684043,S-L-WS,2025-06-27,14.143265,14.195221,25.900543,20.132263,16.775543,19.804840,18.219482,Black,2025,547.079208
684044,S-L-WS,2025-06-28,12.594833,15.805817,22.680084,18.950317,17.495270,19.928131,18.500977,Black,2025,559.674041
684045,S-L-WS,2025-06-29,13.200958,15.467194,21.337310,17.548798,16.285553,18.522125,17.202820,Black,2025,572.874999
684046,S-L-WS,2025-06-30,14.091248,14.229889,22.798004,18.495667,15.957428,18.578766,17.154785,Black,2025,586.966247

### Concatinate the two dataframes

In [19]:
df_climate_1987_2025 = pd.concat([df_actual_2024,df_actual_2025], ignore_index = True)
df_climate_1987_2025

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
0,1-1-E1,1987-04-01,0.000000,-1.272552,-1.172211,-1.207642,-0.684418,-0.658295,-0.672455,Moist Black,1987,0.000000
1,1-1-E1,1987-04-02,0.000000,-1.349457,-1.167816,-1.263977,-0.715179,-0.684906,-0.698578,Moist Black,1987,0.000000
2,1-1-E1,1987-04-03,0.000000,-1.357513,-1.247162,-1.298187,-0.743988,-0.716644,-0.729431,Moist Black,1987,0.000000
3,1-1-E1,1987-04-04,2.092224,-1.267914,-1.041107,-1.188080,-0.760345,-0.746918,-0.754333,Moist Black,1987,2.092224
4,1-1-E1,1987-04-05,4.157913,-1.002533,0.300446,-0.692078,-0.760101,-0.726898,-0.750580,Moist Black,1987,6.250137
...,...,...,...,...,...,...,...,...,...,...,...,...
61812286,S-L-WS,2025-06-26,14.834946,14.580963,24.576813,18.981750,15.436432,18.704254,16.426819,Black,2025,532.935943
61812287,S-L-WS,2025-06-27,14.143265,14.195221,25.900543,20.132263,16.775543,19.804840,18.219482,Black,2025,547.079208
61812288,S-L-WS,2025-06-28,12.594833,15.805817,22.680084,18.950317,17.495270,19.928131,18.500977,Black,2025,559.674041
61812289,S-L-WS,2025-06-29,13.200958,15.467194,21.337310,17.548798,16.285553,18.522125,17.202820,Black,2025,572.874999
61812290,S-L-WS,2025-06-30,14.091248,14.229889,22.798004,18.495667,15.957428,18.578766,17.154785,Black,2025,586.966247

### Filter from 2011 to 2025

In [20]:
df_climate_2011_2025 = df_climate_1987_2025[(df_climate_1987_2025["Year"] >= 2011) & (df_climate_1987_2025["Year"] <= 2025)]
df_climate_2011_2025

,Township,Date,GDD,Soil_temp_l1_min,Soil_temp_l1_max,Soil_temp_l1_mean,Soil_temp_l2_min,Soil_temp_l2_max,Soil_temp_l2_mean,SoilType,Year,Cumulative_GDD
5136,1-1-E1,2011-04-01,0.000000,-1.128510,-0.378265,-0.921661,-1.400726,-1.319916,-1.363129,Moist Black,2011,0.000000
5137,1-1-E1,2011-04-02,0.000000,-0.723480,1.563629,-0.227844,-1.312836,-1.186127,-1.256714,Moist Black,2011,0.000000
5138,1-1-E1,2011-04-03,0.000000,0.279449,1.680328,0.521240,-1.174652,-1.015717,-1.087891,Moist Black,2011,0.000000
5139,1-1-E1,2011-04-04,0.000000,-0.317963,0.535065,0.037964,-1.009857,-0.903656,-0.955689,Moist Black,2011,0.000000
5140,1-1-E1,2011-04-05,0.000000,-0.296234,3.323883,0.354919,-0.896576,-0.778168,-0.847778,Moist Black,2011,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
61812286,S-L-WS,2025-06-26,14.834946,14.580963,24.576813,18.981750,15.436432,18.704254,16.426819,Black,2025,532.935943
61812287,S-L-WS,2025-06-27,14.143265,14.195221,25.900543,20.132263,16.775543,19.804840,18.219482,Black,2025,547.079208
61812288,S-L-WS,2025-06-28,12.594833,15.805817,22.680084,18.950317,17.495270,19.928131,18.500977,Black,2025,559.674041
61812289,S-L-WS,2025-06-29,13.200958,15.467194,21.337310,17.548798,16.285553,18.522125,17.202820,Black,2025,572.874999
61812290,S-L-WS,2025-06-30,14.091248,14.229889,22.798004,18.495667,15.957428,18.578766,17.154785,Black,2025,586.966247

In [21]:
df_climate_2011_2025.to_parquet('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/twn_climate_11_25.parquet', index = False)

## Soil type based crop stages dates

In [22]:
import pandas as pd
from pathlib import Path

# --------------------------------------------------
# File paths
# --------------------------------------------------
file1 = "/Users/dulminiguruge/Documents/Seeding Date/Dates_on_crop_type1.xlsx"
#file2 = "/Users/dulminiguruge/Documents/Seeding Date/Dates_on_crop_type2.xlsx"

output_dir = Path(
    "/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw"
)
output_dir.mkdir(parents=True, exist_ok=True)

# --------------------------------------------------
# Reusable loader function (FINAL & SIMPLE)
# --------------------------------------------------
def load_crop_stage_excel(file_path):
    df = pd.read_excel(file_path)

    # Normalize column names
    df.columns = (
        df.columns.astype(str)
        .str.strip()
        .str.replace(r"\s+", "_", regex=True)
        .str.replace(",", "", regex=False)
    )

    # Expected schema
    expected_cols = [
        "CropType",
        "SoilType",
        "Seeding_to_Flowering",
        "Flowering_to_Filling",
        "Filling_to_Maturity",
        "Total_Days",
    ]

    missing = set(expected_cols) - set(df.columns)
    if missing:
        raise ValueError(f"Missing columns in {file_path}: {missing}")

    # Enforce numeric columns
    numeric_cols = expected_cols[2:]
    for col in numeric_cols:
        df[col] = pd.to_numeric(df[col], errors="raise")

    # Enforce strings
    df["CropType"] = df["CropType"].astype(str)
    df["SoilType"] = df["SoilType"].astype(str)

    return df[expected_cols]

# --------------------------------------------------
# Load datasets
# --------------------------------------------------
df_set1 = load_crop_stage_excel(file1)
#df_set2 = load_crop_stage_excel(file2)

# --------------------------------------------------
# Save to Parquet
# --------------------------------------------------
df_set1.to_parquet(
    output_dir / "crop_stage_duration_by_soil_type.parquet",
    index=False
)

#df_set2.to_parquet(output_dir / "crop_stage_duration_by_soil_set2.parquet",index=False)

print("✅ Parquet files saved successfully")

✅ Parquet files saved successfully

In [23]:
import pandas as pd

# --------------------------------------------------
# Load all Parquet files
# --------------------------------------------------
df_all = pd.concat([
    pd.read_parquet(output_dir / "crop_stage_duration_by_soil_type.parquet"),
    
], ignore_index=True)

# --------------------------------------------------
# Build dictionary
# --------------------------------------------------
crop_soil_dict = {}

for _, row in df_all.iterrows():
    soil = row["SoilType"]
    crop = row["CropType"]

    crop_soil_dict.setdefault(soil, {})

    crop_soil_dict[soil][crop] = {
        "Seeding_to_Flowering": int(row["Seeding_to_Flowering"]),
        "Flowering_to_Filling": int(row["Flowering_to_Filling"]),
        "Filling_to_Maturity": int(row["Filling_to_Maturity"]),
        "Total_Days": int(row["Total_Days"]),
    }

print("✅ Crop–soil dictionary created")

✅ Crop–soil dictionary created

In [24]:
crop_soil_dict["Black, Gray, Dark Gray, Moist Dark Brown, Moist Black"]["Canola"]

{'Seeding_to_Flowering': 46,
 'Flowering_to_Filling': 25,
 'Filling_to_Maturity': 29,
 'Total_Days': 100}

In [25]:
crop_soil_dict.keys()

dict_keys(['Black, Gray, Dark Gray, Moist Dark Brown, Moist Black', 'Brown , Dark Brown'])

## Get the actual seeding dates

In [26]:

df_actual_24 = pd.read_excel('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/BASF_CAP_Final Report_10022024.xlsx')
df_actual_24.columns

Index(['RecordNumber', 'RecordId', 'SeedingDate', 'Field', 'Township',
       'ActualSeededAcres', 'CoverEffectiveDate', 'CoverExpiryDate',
       'ActualEHDTrigger', 'EHDAccumulated', 'ExcessEHD', 'Claim'],
      dtype='object')

In [27]:
df_actual_24 = df_actual_24[['Field', 'Township','SeedingDate']]
df_actual_24

               Field  Township          SeedingDate
0      NW-2-50-13-W4  50-13-W4  2024-05-27T00:00:00
1      SW-2-50-13-W4  50-13-W4  2024-05-27T00:00:00
2     SE-10-50-13-W4  50-13-W4  2024-05-28T00:00:00
3     NE-15-49-13-W4  49-13-W4  2024-05-29T00:00:00
4     NW-15-49-13-W4  49-13-W4  2024-05-29T00:00:00
...              ...       ...                  ...
2826    NE-2-23-7-W3   23-7-W3  2024-05-12T00:00:00
2827   NE-33-11-1-W1   11-1-W1  2024-05-20T00:00:00
2828   NW-33-11-1-W1   11-1-W1  2024-05-20T00:00:00
2829   SE-33-11-1-W1   11-1-W1  2024-05-20T00:00:00
2830   SW-33-11-1-W1   11-1-W1  2024-05-20T00:00:00

[2831 rows x 3 columns]

In [28]:
df_actual_24['SeedingDate'] = pd.to_datetime(df_actual_24['SeedingDate'])

In [29]:
df_actual_24 =df_actual_24.drop_duplicates()
df_actual_24

               Field  Township SeedingDate
0      NW-2-50-13-W4  50-13-W4  2024-05-27
1      SW-2-50-13-W4  50-13-W4  2024-05-27
2     SE-10-50-13-W4  50-13-W4  2024-05-28
3     NE-15-49-13-W4  49-13-W4  2024-05-29
4     NW-15-49-13-W4  49-13-W4  2024-05-29
...              ...       ...         ...
2826    NE-2-23-7-W3   23-7-W3  2024-05-12
2827   NE-33-11-1-W1   11-1-W1  2024-05-20
2828   NW-33-11-1-W1   11-1-W1  2024-05-20
2829   SE-33-11-1-W1   11-1-W1  2024-05-20
2830   SW-33-11-1-W1   11-1-W1  2024-05-20

[2831 rows x 3 columns]

In [30]:
df_actual_24['Township'].nunique()

531

In [31]:
df_actual_24[df_actual_24['SeedingDate'].dt.year != 2024]

Empty DataFrame
Columns: [Field, Township, SeedingDate]
Index: []

In [32]:
df_actual_24['SeedingDate'].isna().sum()

0

In [33]:
df_actual_25 = pd.read_excel('/Users/dulminiguruge/Documents/Data/SeedingDates/2025/Corrected_seeding_dates_2025.xlsx')
df_actual_25

               Field  ActualSeededAcres SeedingDate
0      SE-23-28-7-W2              120.0  2025-05-18
1      SW-23-28-7-W2              120.0  2025-05-18
2      NE-24-28-7-W2              120.0  2025-05-18
3      NW-24-28-7-W2              120.0  2025-05-18
4      SE-24-28-7-W2              120.0  2025-05-18
...              ...                ...         ...
4471  SW-18-10-12-W2              150.0  2025-05-28
4472  SE-17-10-12-W2              125.0  2025-05-26
4473  NW-17-10-12-W2              125.0  2025-05-26
4474   SE-7-10-12-W2              100.0  2025-05-31
4475  SW-17-10-12-W2              125.0  2025-05-26

[4476 rows x 3 columns]

#### Get the townships of the 2025 seeding dates

In [34]:
df_actual_25['SeedingDate'] = pd.to_datetime(df_actual_25['SeedingDate'])

In [35]:
# Split Field into components
field_parts = df_actual_25['Field'].str.split('-', expand=True)

# Assign the new Township column
df_actual_25['Township'] = field_parts[2] + '-' + field_parts[3] + '-' + field_parts[4]

In [36]:
df_actual_25

               Field  ActualSeededAcres SeedingDate  Township
0      SE-23-28-7-W2              120.0  2025-05-18   28-7-W2
1      SW-23-28-7-W2              120.0  2025-05-18   28-7-W2
2      NE-24-28-7-W2              120.0  2025-05-18   28-7-W2
3      NW-24-28-7-W2              120.0  2025-05-18   28-7-W2
4      SE-24-28-7-W2              120.0  2025-05-18   28-7-W2
...              ...                ...         ...       ...
4471  SW-18-10-12-W2              150.0  2025-05-28  10-12-W2
4472  SE-17-10-12-W2              125.0  2025-05-26  10-12-W2
4473  NW-17-10-12-W2              125.0  2025-05-26  10-12-W2
4474   SE-7-10-12-W2              100.0  2025-05-31  10-12-W2
4475  SW-17-10-12-W2              125.0  2025-05-26  10-12-W2

[4476 rows x 4 columns]

In [37]:
df_actual_25.columns

Index(['Field', 'ActualSeededAcres', 'SeedingDate', 'Township'], dtype='object')

In [38]:
df_actual_25 = df_actual_25[['Field','Township', 'SeedingDate' ]]

### Concat the 2024 and 2025 actual seeding dates

In [39]:
df_actual_seeding_dates = pd.concat([df_actual_24,df_actual_25], axis = 0, ignore_index=True)
df_actual_seeding_dates

               Field  Township SeedingDate
0      NW-2-50-13-W4  50-13-W4  2024-05-27
1      SW-2-50-13-W4  50-13-W4  2024-05-27
2     SE-10-50-13-W4  50-13-W4  2024-05-28
3     NE-15-49-13-W4  49-13-W4  2024-05-29
4     NW-15-49-13-W4  49-13-W4  2024-05-29
...              ...       ...         ...
7302  SW-18-10-12-W2  10-12-W2  2025-05-28
7303  SE-17-10-12-W2  10-12-W2  2025-05-26
7304  NW-17-10-12-W2  10-12-W2  2025-05-26
7305   SE-7-10-12-W2  10-12-W2  2025-05-31
7306  SW-17-10-12-W2  10-12-W2  2025-05-26

[7307 rows x 3 columns]

#### Merge soiltype to the actual seeding dates

In [40]:
df_soil_types = pd.read_csv("/Users/dulminiguruge/Documents/GitHub/seeding-date-detection/2024-season/data/input/7_soil_type.csv")
df_soil_types

     Township     SoilType
0      1-1-E1  Moist Black
1      2-1-E1  Moist Black
2      3-1-E1  Moist Black
3      4-1-E1  Moist Black
4      5-1-E1  Moist Black
...       ...          ...
7512  85-9-W6    Dark Gray
7513  86-9-W6    Dark Gray
7514  87-9-W6    Dark Gray
7515   P-A-WS  Moist Black
7516   S-L-WS        Black

[7517 rows x 2 columns]

In [41]:
df_actual_seeding_dates = df_actual_seeding_dates.merge(df_soil_types, on = 'Township')
df_actual_seeding_dates

               Field  Township SeedingDate    SoilType
0      NW-2-50-13-W4  50-13-W4  2024-05-27       Black
1      SW-2-50-13-W4  50-13-W4  2024-05-27       Black
2     SE-10-50-13-W4  50-13-W4  2024-05-28       Black
3     NE-15-49-13-W4  49-13-W4  2024-05-29       Black
4     NW-15-49-13-W4  49-13-W4  2024-05-29       Black
...              ...       ...         ...         ...
7244  SW-18-10-12-W2  10-12-W2  2025-05-28  Dark Brown
7245  SE-17-10-12-W2  10-12-W2  2025-05-26  Dark Brown
7246  NW-17-10-12-W2  10-12-W2  2025-05-26  Dark Brown
7247   SE-7-10-12-W2  10-12-W2  2025-05-31  Dark Brown
7248  SW-17-10-12-W2  10-12-W2  2025-05-26  Dark Brown

[7249 rows x 4 columns]

In [42]:
df_actual_seeding_dates = df_actual_seeding_dates.drop_duplicates()

In [43]:
df_actual_seeding_dates.to_parquet('/Users/dulminiguruge/Documents/GitHub/crop_stages_detection_2026/data/raw/actual_seeding_dates_24_25.parquet', index = False)